nimcache/
nimblecache/
htmldocs/
.env
bin
.idea
settings.cfg
tests/*
!tests/*.*
tests/*.exe

# sectet
secret.nim

# scripts artifact
createBase64ToFile
createBase64ToFile.exe
createFileToBase64
createFileToBase64.exe

# mac
.DS_Store